<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aiuta.flutter.fashionsdk">

    <application
        android:name="com.aiuta.flutter.fashionsdk.AiutaApplication"
        android:windowSoftInputMode="adjustResize"
        android:theme="@style/Theme.FlutterFashionsdk">
        <activity
            android:name=".AiutaActivity"
            android:exported="true" />

        <activity
            android:name=".test.AiutaShareAssetsActivity"
            android:exported="true" />


    </application>
</manifest>
